/* CSS Document */
body    {
        background-color: #FAC898;
        text-align: center;
        }
        
        

li      {
        text-align: left;
        }

p       {
        text-align: left;
        }
        
        h3      {
        text-align: center;
        }
        
